header h1{
	color: white;
}

header h2{
	color: white;
	margin-bottom: 25px;
}

.espacio{
	margin-top: 40px;
}
#dia{
	background-color: #65CF69;
	padding: 3px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100%;
  margin-bottom: 8px;
}