<!--https://www.codementor.io/angularjs/tutorial/angularjs-calendar-directives-less-cess-moment-font-awesome-->

<div class="container col-lg-12" ng-controller="AllAppointmentsByMonthController">  
    <header class="text-center bg-info"><h2>Appointment</h2></header>
    
    <div class="col-md-8 col-md-offset-2">
        <calendar selected="day"></calendar>
    </div>
    
     <a href="http://localhost/consultorio/index.html?#/home" class="btn btn-primary btn-lg col-md-6 col-md-offset-3">BACK</a>
</div>
