<div class="container col-lg-12" ng-controller="AllAppointmentsController">  
    <header class="text-center bg-info"><h2>Appointment</h2></header>

    <div class="container col-lg-12">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Office Id</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Confirmed Date</th>
                    <th>Status</th>
                    <th></th>
            </thead>
            <tbody>
                <tr ng-repeat="appointment in appointments | filter:{contact_id:idOfficeData}"> 
                    <td>{{ appointment.office_id }}</td>
                    <td>{{ appointment.date | date:'medium'}}</td>
                    <td>{{ appointment.type}}</td>
                    <td>{{ appointments.confirmed_date}}</td>
                    <td>{{ appointment.status}}</td>
                    <td>
                        <a class="btn btn-primary col-lg-5" href="#/appointment/{{appointment.appointment_id}}/offices/{{ appointment.office_id }}" ng-model="id">View</a> 
                        <a class="btn btn-primary col-lg-5 col-lg-offset-1" href="#/editAppointment/{{appointment.appointment_id}}/offices/{{ appointment.office_id }}" ng-model="id">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="http://localhost/consultorio/index.html?#/allDoctors" class="btn btn-primary btn-lg col-md-6 col-md-offset-3">BACK</a>
    
    
</div>