<div class="container col-lg-12" ng-controller="AllContactsController">  
    <header class="text-center bg-info"><h2>Doctors</h2></header>

    <div class="pull-left">
        <a href="http://localhost/consultorio/index.html?#/newContact" class="btn btn-primary btn-lg">New Contact</a>
        <hr>
    </div>

    <div class="container col-lg-12">
        
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Last Name</th>
                    <th>Id Card</th>
                    <th>User Type</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contact in contacts | filter:'office'">
                    <td>{{ contact.detail.id }}</td>
                    <td>{{ contact.detail.firstname }}</td>
                    <td>{{ contact.detail.lastname}}</td>
                    <td>{{ contact.detail.cedula}}</td>
                    <td>{{ contact.detail.type}}</td>
                    <td>
                        <a class="btn btn-primary col-lg-2" href="#/doctor/{{contact.detail.id}}" ng-model="id">View</a> 
                        <a class="btn btn-primary col-lg-2 col-lg-offset-1" href="#/editContact/{{contact.detail.id}}" ng-model="id">Edit</a>
                        <a href="#/appointmentsDr/{{contact.detail.id}}" class="btn btn-primary col-lg-5 col-lg-offset-1"> Appointments</a>
        <hr>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a href="http://localhost/consultorio/index.html?#/home" class="btn btn-primary btn-lg col-md-6 col-md-offset-3">BACK</a>
    
</div>