<ion-view view-title="Pizza Recipe">
    <ion-content>
        <div class="list card">

		  <center><h2>Pizza</h2></center>

		  <div class="item item-body">
		    <img class="full-image" src="../img/pizza.png">
		    <p>
		      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
		    </p>
		    <div class="card">
			  <div class="item item-divider">
			    Step 1
			  </div>
			  <div class="item item-text-wrap">
Heat oven to 425°F. Sprinkle cornmeal on cookie sheet. Unroll dough on cookie sheet. Starting at center, press out dough with hands into 11x15-inch rectangle.
			  </div>
			  <div class="item item-divider">
			    Step 2
			  </div>
			  <div class="item item-text-wrap">
Spread pizza sauce over dough to within 1/2 inch of edge. Top with mozzarella cheese.
			  </div>
			  <div class="item item-divider">
			    Step 3
			  </div>
			  <div class="item item-text-wrap">
Bake 10 to 15 minutes or until crust is golden brown.
			  </div>
			</div>
		  </div>

		  <div class="item tabs tabs-secondary tabs-icon-left">
		    <a class="tab-item" href="#">
		      <i class="icon ion-thumbsup"></i>
		      Like
		    </a>
		    <a class="tab-item" href="#">
		      <i class="icon ion-share"></i>
		      Share
		    </a>
		  </div>

		</div>
    </ion-content>
</ion-view>