<ion-view view-title="Recipes">
    <ion-content>
    <br>
        <div class="list">
		    <a class="item item-thumbnail-left" href="#/app/recipe">
		      <img src="../img/pizza.png">
		      <h2>Pizza</h2>
		      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      <img src="../img/img1.png">
		      <h2>Spaghetti</h2>
		      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      <img src="../img/img2.png">
		      <h2>Marra's Pasta and Cheese </h2>
		      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
		    </a>
		    <a class="item item-thumbnail-left" href="#">
		      <img src="../img/img3.png">
		      <h2>Cheesy Spaghetti</h2>
		      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
		    </a>

		</div>
    </ion-content>
</ion-view>